<h1>Carrito de compra</h1>

{{#if cart.products.lenght}}
    <div>
        {{#each cart.products}}
            <div>
                <p><span>Producto:</span{{this.product.title}}></p>
                <p><span>Precio:</span>{{this.product.price}}</p>
                <p><span>Cantidad:</span>{{this.quantity}}</p>

                <form action="/api/carts/{{../cart._id}}/products/{{this.product._id}}?_method=DELETE" method="post">
                    <button>Eliminar</button>
                </form>
            </div>
        {{/each}}
    </div>

    <h3>Total: ${{cartTotal}}</h3>

    <form action="/api/carts/{{cart._id}}?_method=DELETE" method="POST">
        <button>Vaciar Carrito</button>
    </form>
    
{{else}}
    <p>Carrito vacío</p>
{{/if}}

    <a href="/products">Seguir comprando</a>
