<h1>Ordenes de compra</h1>

{{!-- <div>
    {{#each orders}}
        <div>
            <span>ID:{{this._id}}</span>
            <p><span>Usuario:</span>{{this.user}}</p>
            <p><span>Total:</span>${{this.totalPrice}}</p>
            <p><span>Estado:</span>{{this.status}}</p>

            <a href="/orders/{{this._id}}">Ver detalles</a>
        </div>
    {{/each}}
</div> --}}