<h1>Lista de productos</h1>


{{#each products}}
    <div>
        <h3>{{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <a href="/products/{{this._id}}">Ver más</a>
    </div>
{{/each}}

<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Anterior</a>
    {{/if}}

    <span>Página {{page}} de {{totalPages}}</span>

    {{#if hasNextPage}}
        <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>